*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;

}

::-webkit-scrollbar {
  display: none; /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* link - 아직 클릭하지 않은 경우 */
a:link {
  color: black;
  text-decoration: none;
}

/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 */
a:visited {
  color: black;
  text-decoration: none;
}

/* hover - 마우스를 해당 링크에 위치했을 경우 */
a:hover {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  transition: background-color 1s ease;
  height: 100%;
  width: 100%;
  padding: 0 1rem 0;
  
}

.nav {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.nav-item {
  margin-left: 10px;
}

.name {
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.description {
  /**height: 100px;**/
  text-align: center;
  font-size: 0.7rem;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.satelliteLogo {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 10rem;
}

.satellites {
  position: absolute;
  left: 50%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  animation: rotate-axis 30s linear infinite;
  transform-style: preserve-3d;
}

.satellites2 {
  position: absolute;
  left: 50%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  animation: rotate-axis2 30s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotate-axis {
  from {
      transform: rotateZ(350deg) rotateX(350deg) perspective(1000px) rotateY(0deg);
  }

  to {
      transform: rotateZ(350deg) rotateX(350deg) perspective(1000px) rotateY(360deg);
  }
}

@keyframes rotate-axis2 {
  from {
      transform: rotateZ(10deg) rotateX(10deg) perspective(1000px) rotateY(0deg);
  }

  to {
      transform: rotateZ(10deg) rotateX(10deg) perspective(1000px) rotateY(360deg);
  }
}

.satellite {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(calc(var(--i) * 1deg)) translateZ(9rem);
}

.satellite span {
  font-size: 0.5rem;
  font-weight: 900;
}

.smallTitle {
  margin: 20px;
  text-align: center;
}

.Menu {
  text-align: center;
}

.container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.innerContainer {
  display: flex;
  justify-content: center;
}

.slide_wrap {
  /*position: relative;*/
  width: 150px;
  margin: auto;
  /*padding-bottom: 30px;*/
}

.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide_content {
  display: table;
  float: left;
  text-align: left;
  width: 200px;
}

.slide_pagination {
  position: absolute;
  left: 50%;
  bottom: 10%;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}

.slide_pagination .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  overflow: hidden;
  background: transparent;
  border-radius: 50%;
  transition: 0.3s;
  border: solid 1px black;
}

.slide_pagination .dot.dot_active {
  background: #333;
}

.slide_pagination .dot a {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  border: solid 1px black;
  outline: 0;
  background-color:transparent;

  width: 50px;
  height: 50px;
  color: black;

  border-radius: 50%;
  margin: 20px;
  transition: 0.3s;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prevButton,
.nextButton {
  width: 40px;
  height: 40px;
  margin: 0px;
  font-size: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prevButton:hover,
.nextButton:hover {
  width: 45px;
  height: 45px;
  margin: 0px;
  font-size: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.music {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.musicBox {
  display: flex;
  align-items: center;
  /*가로 정렬*/
}

.musicButton {
  width: 50%;
  text-align: right;
}

.musicIndex {
  text-align: left
}