*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  touch-action: pan-y, pan-x;
  position: relative;
  top: 0px;
  left: 0px;
  min-width: 340px;
  height: 100%;
  background-color: #eee;
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

/* 기본 bullet 색상 */
.swiper-pagination-bullet {
  background-color: #ccc;  /* 기본 회색 */
}

/* 활성화된 bullet 색상 */
.swiper-pagination-bullet-active {
  background-color: #333333;  /* 파란색, 원하는 색으로 변경 */
}