*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

/* link - 아직 클릭하지 않은 경우 */
a:link {
  color: black;
  text-decoration: none;
}

/* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 */
a:visited {
  color: black;
  text-decoration: none;
}

/* hover - 마우스를 해당 링크에 위치했을 경우 */
a:hover {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;

}

.nav {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.nav-item {
  margin-left: 10px;
}

.name {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.description {
  /**height: 100px;**/
  text-align: center;
  font-size: 20px;
  /**font-weight: 50px;**/
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

button, button:hover, button:active, button:focus {
  border: solid 1px black;
  outline: 0;
  background-color:transparent;

  width: 50px;
  height: 50px;
  color: black;

  border-radius: 50%;
  margin: 20px;
  transition: 0.3s;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pageMoveButton {
  text-align: center;
}

.smallTitle {
  margin: 20px;
  text-align: center;
}